.platform-win .typeWindows-2-g3UY {
    top: calc(var(--spacing) + 66px) !important;
    left: calc((var(--spacing) - var(--spacing)) - (var(--spacing) + 11px));
}

#channelTabs-container {
    padding: 7px;
}

.chat-2ZfjoI,
.sidebar-1tnWFu {
    margin-top: var(--spacing);
}

.wrapper-1_HaEi {
    margin-top: var(--spacing);
}

.app-2CXKsg {
    background: var(--blurple);
}

#channelTabs-container {
    border-radius: var(--radius);
    margin-bottom: calc(var(--spacing) - 2px);
}

#channelTabs-settingsMenu {
    margin-right: 15px !important;
}

#channelTabs-settingsMenu {
    visibility: hidden;
}